<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-EDHWHQ1H31"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-EDHWHQ1H31");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <style>
      body {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f7f7f7;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .signup-container {
        background-color: #ffffff;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        max-width: 25rem;
        width: 100%;
      }

      .signup-image img {
        width: 5rem;
        height: 5rem;
        margin-bottom: 2rem;
      }

      .signup-form h1 {
        margin-bottom: 2rem;
        color: #333;
        font-size: 1.5rem;
      }

      .signup-form input {
        width: 80%;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        font-size: 1rem;
      }

      .signup-form button {
        background-color: #cf268a;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 1rem;
      }

      .signup-form button:hover {
        background-color: #6b0772;
      }

      .login-link {
        margin-top: 1.5rem;
        color: #666;
        font-size: 0.8rem;
      }

      .login-link a {
        color: #cf268a;
        text-decoration: none;
      }

      @media (max-width: 600px) {
        .signup-form input {
          margin-bottom: 1.5rem;
        }

        .signup-form button {
          padding: 0.8rem 1.5rem;
        }

        .login-link {
          font-size: 0.6rem;
        }
      }
    </style>
  </head>
  <body>

    <header>
      <%- include('partials/header') %>
    </header>
    

    <div class="container">
      <div class="signup-container">
        <form class="signup-form" action="/api/signup" method="POST">
          <h1>Create an Account</h1>
          <input type="text" placeholder="Full Name" name="name" required />
          <input type="email" placeholder="Email" name="email" required />
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
          <input
            type="password"
            placeholder="Confirm Password"
            name="password2"
            required
          />
          <button type="submit" name="signup_submit" value="Sign me up">
            Sign Up
          </button>
          <p class="login-link">
            Already have an account? <a href="login">Log in</a>
          </p>
        </form>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
